extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.assessments
block content
  +page($i18n.nav.assessments,"../images/assessments.jpg","glasses upside down on a table","Photo by Nick Hillier on Unsplash")
    h2
      strong
        em #{$i18n.pages.assessments.content.h2}
    p
      strong #{$i18n.pages.assessments.content.p1}
    p #{$i18n.pages.assessments.content.p2}
    p
      | #{$i18n.pages.assessments.content.p3}
    p
      | #{$i18n.pages.assessments.content.p4}
    p
      strong #{$i18n.pages.assessments.content.p5}
    p
      | #{$i18n.pages.assessments.content.p6}
    p
      | #{$i18n.pages.assessments.content.p7}
    br
    hr