extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.coaching
block content
  +page($i18n.nav.coaching,"../images/coaching.jpg","5 hands doing a fistbump","Photo by rawpixel.com on Unsplash")
    h2
      em #{$i18n.pages.coaching.content.h2}
    p
      em
        | #{$i18n.pages.coaching.content.p1}
    p
      | #{$i18n.pages.coaching.content.p2}
    p
      | #{$i18n.pages.coaching.content.p3}
    p
      | #{$i18n.pages.coaching.content.p4}
    br
    hr