extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.improvementprojects
block content
  +page($i18n.nav.improvementprojects, "../images/improvement-projects.jpg","The inside of a tube","Photo by Dan Schiumarini on Unsplash")
    h2
      em !{$i18n.pages.improvementprojects.content.h2}
    p
      em
        | !{$i18n.pages.improvementprojects.content.p1}
    p
      em
        | !{$i18n.pages.improvementprojects.content.p2}
    p
      | !{$i18n.pages.improvementprojects.content.p3}
    p
      | !{$i18n.pages.improvementprojects.content.p4}
    p
      | !{$i18n.pages.improvementprojects.content.p5}
    br
    hr