extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.incidentanalysis
block content
  -var locale =  $localeName;
  +page("Incident Analysis","../images/incident-analysis.jpg","post-its on a wall","Photo by Dan Schiumarini on Unsplash")
    h2
      em !{$i18n.pages.incidentanalysis.content.h2}
    .quote-small
      blockquote.blockquote.text-center
        p.mb-0
          | !{$i18n.pages.incidentanalysis.content.quote}
        footer.blockquote-footer
          | D. Hummerdal
    p
      em
        | !{$i18n.pages.incidentanalysis.content.p1}
    p
      | !{$i18n.pages.incidentanalysis.content.p2}
    p
      | !{$i18n.pages.incidentanalysis.content.p3}
    p
      | !{$i18n.pages.incidentanalysis.content.p4}
    p
      | !{$i18n.pages.incidentanalysis.content.p5}
    p
      | !{$i18n.pages.incidentanalysis.content.p6}
      a(href= "/" + locale + "/coaching.html") !{$i18n.pages.incidentanalysis.content.a}
      | !{$i18n.pages.incidentanalysis.content.p7}
    br
    hr