extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.managementsystems
block content
  +page($i18n.nav.managementsystems,"../images/management-systems.jpg","The controls of a plane","Photo by Chris Leipelt on Unsplash")
    h2
      em !{$i18n.pages.managementsystems.content.h2}
    p
      em
        | !{$i18n.pages.managementsystems.content.p1}
    p
      em
        | !{$i18n.pages.managementsystems.content.p2}
    p
      em
        | !{$i18n.pages.managementsystems.content.p3}
    p
      | !{$i18n.pages.managementsystems.content.p4}
    p
      | !{$i18n.pages.managementsystems.content.p5}
    p
      | !{$i18n.pages.managementsystems.content.p6}
    br
    hr