extends includes/layout.pug
include partials/mixin-page.pug
prepend head
  - var title = $i18n.nav.training
block content
  -var locale =  $localeName;
  +page($i18n.nav.training,"../images/training.jpg","Man spreading his arms in the sunrise","Photo by Pablo Heimplatz on Unsplash")
    h2
      em !{$i18n.pages.training.content.h2}
    p
      | !{$i18n.pages.training.content.p1}
    p
      | !{$i18n.pages.training.content.p2}
    p
      | !{$i18n.pages.training.content.p3}
    p
      | !{$i18n.pages.training.content.p4}
    p
      | !{$i18n.pages.training.content.p5}
      a(href= "/" + locale + "/coaching.html") !{$i18n.pages.training.content.a}
      | !{$i18n.pages.training.content.p6}
      
    br
    hr